<!doctype html>
<html lang="id">
<head>
<meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
<title>{% block title %}ArbiTrace{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav class="nav">
  <a class="brand" href="{{ url_for('index') }}"><span class="logo">AT</span><span>ARBITRACE<small>SMART INVEST • DEMO</small></span></a>
  <div>{% if session.get('user') %}<a class="ghost" href="{{ url_for('logout') }}">Keluar</a>{% else %}<a class="ghost" href="{{ url_for('login') }}">Login</a>{% endif %}</div>
</nav>
<main class="wrap">
{% with messages = get_flashed_messages() %}{% if messages %}<div class="notice">{{ messages[0] }}</div>{% endif %}{% endwith %}
{% block content %}{% endblock %}
</main>
<footer>ArbiTrace © 2026 • Demo UI / Simulation</footer>
</body></html>
